body {
  font-family: Helvetica;
  text-align: center;

}
 a {
   font-size: 18px;
   color: white;
   font-weight: bold;
 }

 h1 {
   font-size: 70px;
   font-weight: bold;
 }

.div1,
.h3 {
  background-image: url("../images/the-flatiron-building.png");
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  }

p {
  font-size: 14px;
}

.p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
